<!-- /snippets/product-grid-item.liquid -->

{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item {{ grid_item_width }}">

  <a href="{{ product.url | within: collection }}" class="grid__image">
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
  </a>

  {% assign shirtmeta = product.metafields.shirt %}

  <ul>
    <li>Weave: {{ shirtmeta.weave }}</li>
    <li>Thread Count: {{ shirtmeta.thread }}</li>
    <li>Mill: {{ shirtmeta.mill }}</li>
    <li>Thickness: {{ shirtmeta.thickness }}</li>
    <li>Details: {{ shirtmeta.details }}</li>
  </ul>

</div>
