<!-- /templates/product.liquid -->

<script src="http://the212.co/tmblack/js/modernizr.custom.63321.js"></script>

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% assign current_variant = product.selected_or_first_available_variant %}

  {% include 'breadcrumb' %}

    <div class="grid product-single">

      <div class="grid__item large--one-half text-center">
        <div class="product-single__photos" id="ProductPhoto">
          {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
          <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
        </div>

        {% if product.images.size > 1 %}
          <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

            {% for image in product.images %}
              <li class="grid__item one-quarter">
                <a href="{{ image.src | img_url: 'large' }}" class="product-single__thumbnail">
                  <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}

          </ul>
        {% endif %}
      </div>

      <div class="grid__item large--one-half">

        <h1 itemprop="name">{{ product.title }}</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

            <select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}

                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>

            <span id="ProductPrice" class="h2" itemprop="price">
              {{ current_variant.price | money }}
            </span>

            {% if product.compare_at_price_max > product.price %}
              <p id="ComparePrice">
                {{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}
              </p>
            {% endif %}

            <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">

            <!-- HIDDEN SHIRT PROPRETIES -->

            <input type="hidden" id="collar" name="properties[collar]" value="not-set">
            <input type="hidden" id="cuff" name="properties[cuff]" value="not-set">
            <input type="hidden" id="placket" name="properties[placket]" value="not-set">
            <input type="hidden" id="pleats" name="properties[pleats]" value="not-set">
            <input type="hidden" id="pockets" name="properties[pockets]" value="not-set">
            <input type="hidden" id="yoke" name="properties[yoke]" value="not-set">
            <input type="hidden" id="buttons" name="properties[buttons]" value="not-set">

            <button type="submit" name="add" id="AddToCart" class="btn">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>

        </div>

        <!-- 
        <div class="product-description rte" itemprop="description">
          {{ product.description }}
        </div>
        -->

      </div>
  </div> <!-- end product-single -->

  <div class="container options-container"> 
      <div class="main">
        <div id="mi-slider" class="mi-slider">
          <ul class="colars">
            <li class="collar spread"><img src="http://the212.co/tmblack/images/colar1.png" alt="JFK Jr. Spread"><h4>JFK Jr. Spread</h4></li>
            <li class="collar soft-spread"><img src="http://the212.co/tmblack/images/colar2.png" alt="Lord Tennyson Spread"><h4>Lord Tennyson Spread</h4></li>
            <li class="collar semi-spread"><img src="http://the212.co/tmblack/images/colar1.png" alt="The Pataudi Semi-Spread"><h4>The Pataudi Semi-Spread</h4></li>
            <li class="collar soft-semi-spread"><img src="http://the212.co/tmblack/images/colar2.png" alt="FDR Semi-Spread"><h4>FDR Semi-Spread</h4></li>
            <li class="collar cutaway"><img src="http://the212.co/tmblack/images/colar1.png" alt="Duke of Kent Cutaway"><h4>Duke of Kent Cutaway</h4></li>
            <li class="collar soft-cutaway"><img src="http://the212.co/tmblack/images/colar2.png" alt="TM’s Own soft cutaway"><h4>TM’s Own soft cutaway</h4></li>
            <li class="collar ivy-button-down"><img src="http://the212.co/tmblack/images/colar1.png" alt="Dean Acheson Ivy Button Down"><h4>Dean Acheson Ivy Button Down</h4></li>
            <li class="collar soft-ivy-button-down"><img src="http://the212.co/tmblack/images/colar2.png" alt="Rockefeller soft ivy button down"><h4>Rockefeller soft ivy button down</h4></li>
          </ul>
          <ul class="cuffs">
            <li class="cuff one-button-rounded"><img src="http://the212.co/tmblack/images/cuffs1.png" alt="One Button Rounded"><h4>One Button Rounded</h4></li>
            <li class="cuff soft-one-button-rounded"><img src="http://the212.co/tmblack/images/cuffs2.png" alt="Soft One Button Rounded"><h4>Soft One Button Rounded</h4></li>
            <li class="cuff two-button-rounded"><img src="http://the212.co/tmblack/images/cuffs1.png" alt="Two Button Rounded"><h4>Two Button Rounded</h4></li>
            <li class="cuff one-button-square"><img src="http://the212.co/tmblack/images/cuffs2.png" alt="One Button Square"><h4>One Button Square</h4></li>
            <li class="cuff soft-two-button-square"><img src="http://the212.co/tmblack/images/cuffs1.png" alt="Soft Two Button Square"><h4>Soft Two Button Square</h4></li>
            <li class="cuff one-button-cut"><img src="http://the212.co/tmblack/images/cuffs2.png" alt="One Button Cut"><h4>One Button Cut</h4></li>
            <li class="cuff two-button-cut"><img src="http://the212.co/tmblack/images/cuffs1.png" alt="Two Button Cut"><h4>Two Button Cut</h4></li>
            <li class="cuff french-square"><img src="http://the212.co/tmblack/images/cuffs2.png" alt="French Square"><h4>French Square</h4></li>
          </ul>
          <ul class="plackets">
            <li class="placket front"><img src="http://the212.co/tmblack/images/placket1.png" alt="Front"><h4>Front</h4></li>
            <li class="placket soft-front"><img src="http://the212.co/tmblack/images/placket1.png" alt="Soft Front"><h4>Soft Front</h4></li>
            <li class="placket covered"><img src="http://the212.co/tmblack/images/placket1.png" alt="Covered"><h4>Covered</h4></li>
            <li class="placket no-placket"><img src="http://the212.co/tmblack/images/placket1.png" alt="No Placket"><h4>No Placket</h4></li>
          </ul>
          <ul class="pleatss">
            <li class="pleats center-box"><img src="http://the212.co/tmblack/images/placket1.png" alt="Center Box"><h4>Center Box</h4></li>
            <li class="pleasts side"><img src="http://the212.co/tmblack/images/placket1.png" alt="Side"><h4>Side</h4></li>
            <li class="pleats none"><img src="http://the212.co/tmblack/images/placket1.png" alt="None"><h4>None</h4></li>
          </ul>
           <ul class="pocketss">
            <li class="pockets none"><img src="http://the212.co/tmblack/images/placket1.png" alt="None"><h4>None</h4></li>
            <li class="pockets rounded"><img src="http://the212.co/tmblack/images/placket1.png" alt="Rounded"><h4>Rounded</h4></li>
            <li class="pockets angled"><img src="http://the212.co/tmblack/images/placket1.png" alt="Angled"><h4>Angled</h4></li>
            <li class="pockets double-flap-angled"><img src="http://the212.co/tmblack/images/placket1.png" alt="Double Flap Angled"><h4>Double Flap Angled</h4></li>
          </ul>
           <ul class="yokes">
            <li class="yoke no-yoke"><img src="http://the212.co/tmblack/images/placket1.png" alt="No Yoke"><h4>No Yoke</h4></li>
            <li class="yoke split-yoke"><img src="http://the212.co/tmblack/images/placket1.png" alt="Split Yoke"><h4>Split Yoke</h4></li>
          </ul>
           <ul class="buttonss">
            <li class="buttons plastic-white"><img src="http://the212.co/tmblack/images/btn1.png" alt="Plastic White"><h4>Plastic White</h4></li>
            <li class="buttons plastic-black"><img src="http://the212.co/tmblack/images/btn2.png" alt="Plastic Black"><h4>Plastic Black</h4></li>
            <li class="buttons mother-of-pearl"><img src="http://the212.co/tmblack/images/btn3.png" alt="Mother of Pearl"><h4>Mother of Pearl</h4></li>
          </ul>
 
          <ul class="monogram">
            <li>
              <p>Add Monogram for $10 <input type="checkbox" id="monogram-option" name="monogram-option" /></p>
              <p class="monogram-text"><label for="monogram">Monogram:</label></p>
              <p class="monogram-text"><input type="text" id="monogram" name="properties[Monogram]" /></p>
            </li>
          </ul>

          <ul class="measurements">
            <li>
              <p>Type of Fit: <select id="fit" name="properties[fit]">
                <option value="slim">Slim</option>
                <option value="regular">Regular</option>
                <option value="loose">Loose</option>
              </select>
              </p>
            </li>

            <li>
              <p>Colar: <input type="number" id="colar-size" name="properties[collar-size]" min="10" max="30" value="14" step=".5"></p>
            </li>

            <li>
              <p>Chest: <input type="number" id="chest" name="properties[chest]" min="10" max="30" value="19.5" step=".5"></p>
            </li>

            <li>
              <p>Waist: <input type="number" id="waist" name="properties[waist]" min="10" max="30" value="14" step=".5"></p>
            </li>

            <li>
              <p>Cuff: <input type="number" id="cuff-size" name="properties[cuff-size]" min="10" max="30" value="14" step=".5"></p>
            </li>

            <li>
              <p>Shoulder: <input type="number" id="shoulder" name="properties[shoulder]" min="10" max="30" value="14" step=".5"></p>
            </li>

            <li>
              <p>Sleeve: <input type="number" id="sleeve" name="properties[sleeve]" min="10" max="30" value="14" step=".5"></p>
            </li>

            <li>
              <p>Shirt Length: <input type="number" id="slength" name="properties[length]" min="10" max="30" value="19.5" step=".5"></p>
            </li>

            <li>
              <p>Bicep: <input type="number" id="bicep" name="properties[bicep]" min="10" max="30" value="14" step=".5"></p>
            </li>
          </ul>

          </form> <!-- END FORM -->

          <nav>
            <a href="#">Collar</a>
            <a href="#">Cuffs</a>
            <a href="#">Placket</a>
            <a href="#">Pleats</a>
            <a href="#">Pockets</a>
            <a href="#">Yoke</a>
            <a href="#">Buttons</a>
            <a href="#">Monogram</a>
            <a href="#">Measurements</a>
          </nav>
        </div>
      </div>
  </div><!-- /container -->

  <!-- SLIDER JS -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://the212.co/tmblack/js/jquery.catslider.js"></script>
  <script>
    $(function() {

      $( '#mi-slider' ).catslider();

      $('.mi-slider ul li').click(function() {

        if( $(this).parent('ul').attr('class').split(' ')[0] != 'monogram' || $(this).parent('ul').attr('class').split(' ')[0] != 'measurements' ) {

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

        }

        var option_type = $(this).attr('class').split(' ')[0];
        var option_choice = $(this).attr('class').split(' ')[1];
        $('#' + option_type).val(option_choice);

        if (option_type == 'buttons') {
          if (option_choice == 'mother-of-pearl') {
            $('#productSelect-option-1').val('Mother of Pearl').trigger('change');
          } else {
            $('#productSelect-option-1').val('Normal').trigger('change');
          }
        }

      });

      $('#monogram-option').change(function() {
          if($(this).is(":checked")) {
              $('.monogram-text').show();

              // Monogram variant
              $('#productSelect-option-0').val('Custom').trigger('change');
          } else {
            $('.monogram-text').hide();
            $('#productSelect-option-0').val('None').trigger('change');
          }     
      });


    });
  </script>

</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>
